@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/static/SourceSansPro-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("/static/SourceCodePro-Regular.otf");
  font-weight: normal;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}
p,
li,
.button,
blockquote {
  font-family: "Source Sans Pro", sans-serif;
}

pre {
  background: #272822; 
  color: #f8f8f2;
  padding: 5px; 
  border-radius: 5px;
  padding-bottom: 8px;
}

code { font-family: "Source Code Pro"; font-size: .8em; }

